* {
   box-sizing: border-box;
   margin: 0;
   padding: 0; 
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 900px;
    min-height: 100vh;
    gap: 2em;
    padding: 2em;
    font-family: Helvetica, verdana, sans-serif;
    background-color:hsl(350, 30%, 90%);
    font-size: 24px;
} 

body {
    background-color:hsl(350, 20%, 50%);
    /*background:linear-gradient(90deg, hsl(350, 20%, 50%) 0%, hsl(260, 20%, 50%) 180%); */
}

h1 {
    text-align: center;
    border: 3px solid hsl(230, 50%, 50%);
    border-radius: 25px;
    color: hsl(350, 50%, 60%);
    padding: 0.3em;
    letter-spacing: 0.2rem;
}

h3, p {
    color:hsl(230, 50%, 30%);
    line-height: 1.5;
}

.button {
    display: flex;
    align-self: flex-end;
    gap: 0.5em;
}

button {
    border-radius: 10px;
    border-color:hsl(230, 80%, 80%);
    padding: 0.25em 0.5em;
}

li {
    padding: 10px;
    margin: auto;
    color:hsl(350, 50%, 50%)
}

ol {
    line-height: 1.5;
}

.emptySpace {
    padding-bottom: 30rem;
}

.links {
    color:hsl(230, 50%, 30%);
    font-style: italic;
}

img {
    max-width: 900px;
}
